/*//fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);



body {
    background: url("http://i.imgur.com/r7dRzPi.jpg") no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.72);
    background-blend-mode: multiply;
}
.head{
    width: auto;
    height: 40px;
    color: #ff3b0f;
    position: relative;
    background-color: rgba(255, 255, 255, 0.29);

}

h1{
    font-family: 'Poiret One', cursive;
    font-size:30px;
    text-align: center;
    color: #000000;
}

.cities {
    box-sizing: border-box;
    font: 25px;
    font-family: sans-serif;
    padding: 80px 0;
    color: white ;
    text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px -1px 0 rgba(255, 255, 255, 0),
    -1px 1px 0 #000,
    1px 1px 0 #000;
    position: relative;

}
.city {
    margin: 0 auto;
    width: 460px;
    height: 580px;
    background: url('http://i.imgur.com/a5ZJixx.jpg') no-repeat center center ;
    /*background-color: rgba(255, 59, 15, 0.2);*/
    /*background-blend-mode: multiply;*/
    border-radius: 2px;
    position: relative;
    outline: double;
    outline-color: rgba(255, 255, 255, 0.72);


}


.city-wrapper {
    margin: 0 auto;
    width: 300px;
    height: 350px;
    /*background: url('http://i.imgur.com/a5ZJixx.jpg') no-repeat center center ;*/
    border-radius: 2px;
    position:relative;
    background-color: rgba(214, 167, 46, 0.44);
    outline: double;
    outline-color: rgb(255, 255, 255);

}




.city-title {
    font-family: 'Lobster', cursive;
    font-size: 46px;
    padding-top: 24px;
    text-align: center;
    margin:auto;
    display: block;
}
.city-temperature, .city-description, img.city-icon {
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin:auto;
    display: block;
    padding-top: 20px;
}



.city-temperature {
    font-size: 22px;
    margin-bottom: 10px;
}
.city-description {
    width: 120px;
    margin: auto;
    text-align: center;
}


#weekdays{
    font-family: 'Poiret One', cursive;
    font-size:15px;
    text-align: center;
}
#weekdays > div {
    display: inline-block;
    padding: 5px;


}

#forecast {
    font-family: 'Poiret One', cursive;
    font-size:16px;
    text-align: center;


}
#forecast > div {
    display: inline-block;
    padding: 6px;


}
#foot{
    width: auto;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.29);
}

footer{

    font-family: 'Poiret One', cursive;
    font-size:10px;
    text-align: center;
    color: #000000;


}

